html {
  background: #000000;
}

main {
  box-sizing: border-box;
}

/*.form {*/
/*  display: block;*/
/*}*/

.form {
  position: relative;
  max-width: 400px;
  padding: 60px 50px;
  margin: 50px auto 0;
}

.form:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 }

.form-inner {
  position: relative;
}

.form-inner h3 {
  position: relative;
  margin-top: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}

.form-inner label {
  display: block;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgba(255,255,255,.6);
  text-transform: uppercase;
  font-size: 14px;
}
.form-inner input ,
.form__button {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin: 10px 0 15px;
  border-width: 0;
  line-height: 40px;
  border-radius: 20px;
  color: white;
  background: rgba(255,255,255,.2);
  cursor: pointer;
}

.form__button {
  background-color: white;
  text-decoration: none;
  text-align: center;
  color: black;
}







