@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');

* {
  box-sizing: border-box;
  font-family:'Cuprum', sans-serif;
  font-size: 1rem
}

.main-header {
  width: 100%;
  padding: 0.25em 0.5em;
  z-index: 1;
  border-bottom:1px solid rgba(255, 255, 255, 0.5);
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand img {
  height: 100%;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 0.5em;
}

.main-nav__item a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.2em;
  text-align: center;
  color: #EAEAEA;
  padding: 0.1em 0.1em;
  border: 1px solid transparent;
  border-radius: 40px;
}

.main-nav__item a:hover,
.footer-nav__item a:hover,
ul.social-networks a:hover {
  color: #4E4E4E;
  border:1px solid #4E4E4E;
  border-radius: 40px;
}

.main-footer {
  width: 100%;
  bottom: 0;
  padding: 0.25em 0.5em;
  border-top:1px solid rgba(255, 255, 255, 0.5);
}

ul.social-networks {
  list-style: none;
  text-align: center;
}

ul.social-networks > li {
  display: inline;
  margin: 0 0.5em;
}

ul.social-networks > li > a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.2em;
  color: #EAEAEA;
  padding: 0.2em 0;
}

.footer-nav__items {
  list-style: none;
 text-align: center;
}

.footer-nav__item {
  display: inline-block;
  margin: 0 0.5em;
}

.footer-nav__item a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.2em;
  text-align: center;
  color: #EAEAEA;
  padding: 0.2em;
}


